<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'usr/css/style.css' %}">
	<style>
		.main{
			border-top: 4px solid white;
			border-bottom: 4px solid white;
			border-radius: 7px;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.text{
			color: white;
			text-shadow: 0 0 1px;
		}
	</style>

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'usr/images/driverlog2.avif' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row justify-content-center mt-5 ">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	
		      	<form action="{% url 'Driver_Login_Save' %}" class="signin-form main" method="post">
					<h3 class="mb-4 text-center text">Have an account?</h3>
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="email" class="form-control" placeholder="Enter your mail" name="Email" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
	            </div>
				<a href="{% url 'Driver_Form' %}"><p class="w-100 text-center"> Or Sign Up </p></a>
	          </form>
						
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'usr/js/jquery.min.js' %}"></script>
  <script src="{% static 'usr/js/popper.js' %}"></script>
  <script src="{% static 'usr/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'usr/js/main.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	</body>
</html>

